<!-- pages must end in .ng.html to be treated as AngularJS code by Angular-Meteor //-->
<div class="ui page grid main">
    <div class="row">
        <div class="column padding-reset">
            <div class="ui one column grid">
                <div class="column" ng-if="!currentUser">Not logged in.</div>
                <div class="column" ng-if="currentUser">
                    <h2 class="ui center aligned icon header">
                      <i class="circular users icon"></i>
                      My Children ({{children.length}})
                    </h2>

                    <div class="ui hidden clearing divider"></div>

                    <div class="ui raised segment">
                    <h3 class="ui dividing green header">My Children</h3>
                    <span>

                        <div class="ui segment" ng-repeat="child in children">
                        <a ng-class="child.gender == 'male' ? 'ui blue ribbon label' : 'ui pink ribbon label'">{{child.firstName + ' ' + child.lastName}}</a>
                        <a class="ui tiny image">
                          <img src="/assets/images/avatars/small/{{child.gender}}.jpg">
                        </a>
                        {{child.description}}
                        <!-- child details //-->
                        <h4 class="ui horizontal divider header">
  <i class="tag icon"></i>
  Notes for Educators About My Child
</h4>
<p>{{child.notes}}</p>
<h4 class="ui horizontal divider header">
  <i class="bar chart icon"></i>
  About My Child
</h4>
<table class="ui definition table" ng-repeat="(key, value) in child.attributes">
  <tbody>
    <tr>
      <td class="two wide column">{{key}}</td>
      <td>{{value}}</td>
    </tr>
  </tbody>
</table>
<!-- <div class="ui button" ng-click="edit(child)">Edit Child</div> //-->
<div class="ui disabled button" ng-click="removeChild(child)">Remove Child</div>
                        </div>
                    </span>
                    <!--end span //-->
                </div>







                      <!-- <div class="ui warning button" ng-show="children.length !== 0" ng-click="removeAll()">Remove All Children From My Account</div> //-->

                      <div class="ui raised segment">
                      <h3 class="ui dividing blue header">Add Your Child</h3>
                      <!-- add child form //-->
                      <a name="add-form"></a>
                      <form class="ui form">
                        <div class="field">
                          <div class="two fields">
                            <div class="field">
                            <label>Child's First Name</label>
                              <input type="text" ng-model="newChild.firstName" placeholder="First Name">
                            </div>
                            <div class="field">
                                <label>Child's Last Name</label>
                              <input type="text" ng-model="newChild.lastName" placeholder="Last Name">
                            </div>
                          </div>
                        </div>

                        <div class="three fields">
                            <div class="field">
                            <label>Gender</label>
                            <select class="ui dropdown" name="gender" ng-model="newChild.gender">
                                <option value="">Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                            </div>
                            <div class="field">
                            <div ng-class="newChild.show.allergyField ? 'ui disabled button' : 'ui button'" ng-click="newChild.show.allergyField = 1;">List Allergies</div>
                            </div>
                            <div class="field">
                                <div ng-class="newChild.show.notesField ? 'ui disabled button' : 'ui button'" ng-click="newChild.show.notesField = 1;">Add Notes</div>
                            </div>
                        </div>

                        <div class="field" ng-if="newChild.show.allergyField == 1">
                          <label>Allergies <i class="minus square icon" ng-click="deleteAllergy();"></i></label>
                                <textarea rows="2" ng-model="newChild.attributes['allergies']" placeholder="Allergies"></textarea>
                        </div>

                        <div class="field" ng-if="newChild.show.notesField == 1">
                          <label>Notes <i class="minus square icon" ng-click="deleteNote();"></i></label>

                                <textarea rows="2" ng-model="newChild.notes" placeholder="Notes about my child"></textarea>

                        </div>


                        <div ng-class="!(!!newChild.firstName && !!newChild.lastName && !!newChild.gender) ? 'ui disabled button' : 'ui button'"  ng-click="addChild(newChild);newChild={};">Add Child</div>
                      </form>
                      <!-- end add child form//-->
                    </div>

            </div>
            </div>

        </div>
    </div>
</div>
